@font-face {
	font-family: Sahel;
	src: url('../fonts/Sahel.eot');
	src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sahel.woff') format('woff'),
	url('../fonts/Sahel.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Sahel;
	src: url('../fonts/Sahel-Bold.eot');
	src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sahel-Bold.woff') format('woff'),
	url('../fonts/Sahel-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: Sahel;
	src: url('../fonts/Sahel-Black.eot');
	src: url('../fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sahel-Black.woff') format('woff'),
	url('../fonts/Sahel-Black.ttf') format('truetype');
	font-weight: 900;
}

a{
	text-decoration:none;
	color:#3c8dbc;
}

.footer a{
	text-decoration:none;
	color:#FFFFFF;
}

.footer a:hover{
	text-decoration:none;
	color:#CCCCCC;
}

a:hover{
	text-decoration:none;
}

html,body {direction:ltr; text-align:left; font-family: Sahel, sans-serif; font-size:17px; transition:all .3s;  text-decoration:none; background-color: #f1f1f1;height: 100%;}
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -70px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

pre {text-align: left; direction: ltr; padding: 10px; font-family: Sahel, sans-serif; margin-top: 10px; margin-bottom: 10px;}
strong {font-weight: bold}
.footer { width: 100%; height: 70px; background-color: #555555; font-size: 11px; color: #fefefe; line-height: 23px; padding: 10px 0px 20px 0px; border-top:5px solid #3c8dbc;}

.user-about-text {}
.user-about-img {text-align: center;}
.header {
	background-color:#555555;
	width:100%;
	height: 350px;
	text-align: center;
	color: #FFFFFF;
	background-image: url("../image/background.jpg");
	background-position: center;
	position: relative;
}

code, pre {text-align: left !important; direction: ltr !important;}

.header .col-sm-2 {}
.top-icon {font-size:54px; color: #3c8dbc; padding:12px 25px 0px 0px; float:right}
.h-title {font-size:24px;padding-top: 100px;}
.h-description {font-size:16px; padding-top: 35px}
.h-menu {}
.h-menu li{float:right; height: 45px}
.h-menu a{padding:10px 15px 15px 15px; line-height: 44px}
.h-menu-box {width:100%; text-align: center; display: inline;}
.h-menu-box a{color:#FFFFFF; font-size:14px; font-weight:normal;font-style:normal; text-decoration:none}
.h-menu-box a:hover{color:#EEEEEE;}
.h-menu-box ul{width: 100%; text-align: center; margin-top: 50px; position: absolute; bottom: 25px; z-index: 1;}
.h-menu-box li{display: inline; margin: 0px 20px 0px 20px;}
/*.h-menu-box li:hover{background-color: #666666; cursor:pointer;transition:all .2s;}*/
.clear {clear:both}
.about-panel {background-color: #3c8dbc; border:none; border-radius:2px; text-align:center; color:#FFFFFF;}
.about-image {border-radius:50%;border:4px solid #2b6688; max-width: 180px;}
.about-name {font-size:20px; padding:15px 0px 15px 0px;}
.about-text {font-size:12px; line-height: 22px;padding:0px 0px 15px 0px;}

.about-rs a{color:#FFFFFF}
.about-rs a:hover{color:#2b6688; transition:all .2s;}
.about-rs span{width:40px;}

.post-panel {background-color: #FFFFFF; border:none; border-radius:0px; color:#333333; border-bottom:1px solid #d3d5d7; margin-bottom:2px;}
.post-border {border-bottom:1px solid #d3d5d7; background:#FFFFFF; margin-bottom:25px;}
.post-title {font-size:16px; margin: 10px 0px 10px 0px;}
.post-detail {font-size:11px; color:#9ba1a8; border: 1px solid #e4e6e8; background-color: #f6f6f6; padding:7px 7px 7px 7px;border-radius:2px; float:left; margin-right:15px;margin-top:0px;}
.post-detail .fa{float: left; margin-top: 0px;}
.post-detail span{margin-right:5px;}
.post-text{font-size:12px; line-height:22px; text-align:justify; margin-top: 8px;}

.shadow {-webkit-box-shadow: 0 0 5px 0 #e2e3e4; -moz-box-shadow: 0 0 5px 0 #e2e3e4;box-shadow: 0 0 5px 0 #e2e3e4;}
delimiter:last-child {display: none}
.list-view .summary{font-size: 12px;background-color: #FFFFFF;padding:10px; -webkit-box-shadow: 0 0 5px 0 #e2e3e4; -moz-box-shadow: 0 0 5px 0 #e2e3e4;box-shadow: 0 0 5px 0 #e2e3e4; font-style: italic; display: none}
.list-view .empty{font-size: 12px;background-color: #FFFFFF;padding:10px; -webkit-box-shadow: 0 0 5px 0 #e2e3e4; -moz-box-shadow: 0 0 5px 0 #e2e3e4;box-shadow: 0 0 5px 0 #e2e3e4; font-style: italic;}

.more{ font-size: 12px; background: #3c8dbc; color: #ffffff; padding: 5px 12px 5px 12px; border-radius: 2px; float: left}
.more:hover{color: #ffffff; background: #2b6688}
.more-hr {margin: 10px 0px 10px 0px; padding: 0px;}
.pagination {direction: ltr; font-size: 12px; margin-top: 0px; border-radius: 2px; border: none}
.pagination > .active > a{direction: ltr; font-size: 12px; background: #3c8dbc}
.pagination > .active > a:hover{background: #2b6688}

.menu-title {font-size: 12px; border-bottom: 2px solid #d3d5d7; padding-bottom: 7px;}
.menu-title-icon {background: #3c8dbc; padding: 5px 5px 5px 5px; color: #ffffff; border-radius: 2px; width: 28px; text-align: center}
.menu-title-line {border-bottom:2px solid #3c8dbc; width: 28px; margin-top: -2px; float: left}
.menu-title-text { padding-left: 5px;}
.menu-panel {font-size: 12px;}
.cat-item { border-bottom: 1px solid #ecedee; padding: 10px 0px 10px 0px;}
.cat-item:last-child {border-bottom: none; padding-bottom: 0px;}
.input {border: 1px solid #d3d5d7; padding: 10px; border-radius: 2px; width: 100%; font-family: Sahel, sans-serif; font-size: 12px; color: #666666;}
.submit { width: 100%; padding: 10px; background: #3c8dbc; border: none; border-radius: 2px; color: #ffffff;}
.submit:hover{background: #2b6688;}
.margin-17 {margin-top: 17px;}
.error {font-size: 12px;background-color: #b92c28;padding:15px; -webkit-box-shadow: 0 0 5px 0 #e2e3e4; -moz-box-shadow: 0 0 5px 0 #e2e3e4;box-shadow: 0 0 5px 0 #e2e3e4; margin-bottom: 25px; color: #ffffff; border-radius: 2px;}
.success {font-size: 12px;background-color: #00a65a;padding:15px; -webkit-box-shadow: 0 0 5px 0 #e2e3e4; -moz-box-shadow: 0 0 5px 0 #e2e3e4;box-shadow: 0 0 5px 0 #e2e3e4; margin-bottom: 25px; color: #ffffff; border-radius: 2px;}
.menu-panel .control-label{display: none}
.post-text .control-label{display: none}
.post-text textarea{resize: none}
.post-tags {font-size: 11px; color: #666666}
.pin-post {color: #ffffff; padding: 12px 6px 5px 6px; background: #3c8dbc; margin-top: -25px;}
.comment-title span{font-weight: bold}
.comment-text {color: #666666}
.comment-reply span{font-weight: bold}
.comment-reply {padding: 7px; background: #e2e3e4; border-radius: 2px;}
.captcha {}
.container {overflow-x: hidden}
.developit-captcha img {margin: 0px auto; display: block; text-align: center; cursor: pointer}
.developit-captcha input{border: 1px solid #d3d5d7; padding: 10px; border-radius: 2px; width: 100%; font-family: Sahel, sans-serif; font-size: 12px; color: #666666; box-shadow: none; text-align: center; height: auto}
.post-text img {max-width: 90%; height: auto}

.alert .close {display: none}
.alert {font-size: 12px; border-radius: 2px}
.captcha-txt {margin-top: 15px; text-align: center}
.captcha-img {text-align: center;}
.captcha-img img{cursor: pointer}


@media screen and (max-width: 980px) {

}
@media screen and (max-width: 650px) {

}
@media screen and (max-width: 480px) {

	.h-title {font-size: 14px; padding: 34px 10px 0px 0px;}
	.top-icon {font-size: 34px; padding: 24px 0px 0px 0px}
	.post-title {font-size: 12px; margin: 5px 0px 10px 0px}
	.footer {height: 90px;}
}


.u\:db{display: block}
